<html>
        <head>
          <title>屎馬波克利那魯多</title>
        </head>
        <body>
           歡迎光臨我的網站<br>
          <a href="/static/maze teacher/index.html">迷宮遊戲teacher</a><br>
          <a href="/static/longlong maze/index.html">longlong maze</a><br>
          <a href="/static/maze zoe/index.html">迷宮遊戲zoe</a><br>
          <a href="/static/pong/index(1).html">兵乓球遊戲zoe</a>
           {% for friend in friends %}
           <p><a href="{{friend}}">{{friend}}</a></p>
           {% endfor %}
        </body>
</html>